* {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Colores*/
body {
  background-color: #3883c2;
}

/*Colores*/
/*NavBar*/
.navbar-diego {
  display: flex;
  width: 100%;
  background-color: #0a0a5c;
  font-size: x-large;
  font-family: "Lato", sans-serif;
}
.navbar-diego a {
  color: whitesmoke;
  font-weight: bold;
}
.navbar-diego img {
  width: 70px;
}

/*Inicio*/
.container-inicio {
  display: grid;
  grid-template-areas: "noticia partidos" "noticia video" "redes video";
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  /*Partidos del dia*/
  /*Video*/
  /*Noticias*/
  /*Redes*/
}
.container-inicio .carousel-partidos {
  grid-area: partidos;
  width: 500px;
  height: 150px;
}
.container-inicio .video {
  grid-area: video;
  display: flex;
  justify-content: center;
}
.container-inicio .carousel-noticias {
  width: 700px;
  grid-area: noticia;
}
.container-inicio .carousel-noticias .noticia {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 2px solid black;
  background-color: black;
  font-family: "Lato", sans-serif;
}
.container-inicio .carousel-noticias .noticia1 {
  background-image: url(../multimedia/noticias/noticia1.jpg);
}
.container-inicio .carousel-noticias .noticia1 p {
  padding-top: 270px;
  padding-left: 10px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}
.container-inicio .carousel-noticias .noticia2 {
  background-image: url(../multimedia/noticias/noticia2.jpeg);
}
.container-inicio .carousel-noticias .noticia2 p {
  padding-top: 240px;
  padding-left: 10px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}
.container-inicio .carousel-noticias .noticia3 {
  background-image: url(../multimedia/noticias/noticia3.jpg);
}
.container-inicio .carousel-noticias .noticia3 p {
  padding-top: 240px;
  padding-left: 10px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}
.container-inicio .carousel-noticias .boton {
  width: fit-content;
  border-width: 2px;
  border-radius: 9999px;
  border-color: yellow;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 70px;
  text-shadow: none;
}
.container-inicio #redes {
  grid-area: redes;
  display: flex;
  width: 600px;
  padding-top: 30px;
  padding-left: 0px;
  justify-content: space-evenly;
}
.container-inicio #redes a {
  color: black;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  body {
    background-color: #416787;
  }
  .container-inicio {
    display: grid;
    grid-template-areas: "partidos" "noticia" "video" "redes";
    width: 100%;
    justify-content: center;
  }
  .container-inicio .video {
    width: 370px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .container-inicio .partidos {
    display: flex;
    justify-content: center;
  }
  .container-inicio .carousel-partidos {
    display: flex;
    justify-content: center;
    width: 80%;
    height: max-content;
  }
  .container-inicio .carousel-noticias {
    width: 100%;
    padding-top: 10px;
    height: min-content;
  }
  .container-inicio .carousel-noticias .noticia {
    height: 250px;
  }
  .container-inicio .carousel-noticias .noticia p {
    font-size: medium;
    padding-top: 125px;
  }
  .container-inicio .carousel-noticias .noticia1 {
    background-image: url(../multimedia/noticias/noticia1-sm.jpg);
  }
  .container-inicio .carousel-noticias .noticia2 {
    background-image: url(../multimedia/noticias/noticia2-sm.jpeg);
  }
  .container-inicio .carousel-noticias .noticia3 {
    background-image: url(../multimedia/noticias/noticia3-sm.jpg);
  }
  .container-inicio .carousel-noticias .boton {
    width: fit-content;
    border-width: 2px;
    border-radius: 9999px;
    border-color: yellow;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 170px;
    text-shadow: none;
  }
  .container-inicio #redes {
    width: 98%;
  }
}
/*Celular Horizontal*/
@media only screen and (max-width: 932px) and (max-height: 431px) {
  body {
    background-color: #416787;
  }
  .container-inicio {
    display: grid;
    grid-template-areas: "partidos" "noticia" "video" "redes";
    width: 100%;
    justify-content: center;
  }
  .container-inicio video {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-inicio .carousel-partidos {
    display: flex;
    width: 100%;
    height: max-content;
  }
  .container-inicio .carousel-noticias {
    padding-top: 20px;
    width: fit-content;
    height: max-content;
    display: flex;
    justify-content: center;
  }
  .container-inicio .carousel-noticias .noticia1 p {
    padding-top: 240px;
  }
  .container-inicio .carousel-noticias .noticia2 p {
    padding-top: 200px;
  }
  .container-inicio .carousel-noticias .noticia3 p {
    padding-top: 200px;
  }
  .container-inicio #redes {
    width: 98%;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-inicio {
    display: grid;
    grid-template-areas: "noticia partidos" "noticia video" "redes video";
    width: 100%;
    justify-content: center;
  }
  .container-inicio .partidos {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .container-inicio .carousel-partidos {
    display: flex;
    width: 80%;
    height: max-content;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .container-inicio .video {
    padding-left: 5px;
    width: 90%;
  }
  .container-inicio .carousel-noticias {
    width: 610px;
  }
  .container-inicio .carousel-noticias .noticia {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
  .container-inicio #redes {
    width: 98%;
  }
}
/*Tablet Vertical*/
@media only screen and (min-width: 600px) {
  .container-inicio {
    display: grid;
    grid-template-areas: "partidos" "video" "noticia" "redes";
    width: 100%;
    justify-content: center;
  }
  .container-inicio video {
    width: 98%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-inicio .carousel-partidos {
    width: 98%;
    height: max-content;
  }
  .container-inicio .noticia {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-inicio #redes {
    padding-top: 40px;
    width: 98%;
  }
}
@media (min-width: 1025px) {
  .container-inicio {
    display: grid;
    grid-template-areas: "noticia partidos" "noticia video" "redes video";
    width: 100%;
    justify-content: center;
  }
  .container-inicio .partidos {
    display: flex;
    justify-content: start;
  }
  .container-inicio .carousel-partidos {
    display: flex;
    width: 100%;
    height: max-content;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .container-inicio .video {
    padding-left: 15px;
  }
  .container-inicio .carousel-noticias {
    width: 700px;
  }
  .container-inicio .carousel-noticias .noticia {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
  .container-inicio #redes {
    width: 98%;
  }
}
.navbar-diego {
  display: flex;
  width: 100%;
  background-color: #0a0a5c;
  font-size: x-large;
  font-family: "Lato", sans-serif;
}
.navbar-diego a {
  color: whitesmoke;
  font-weight: bold;
}
.navbar-diego img {
  width: 70px;
}

.logoequipo:hover {
  width: 70%;
}

.oeste {
  background-color: #640b0b;
}

.este {
  background-color: #127fa4;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .content div li a img {
    width: 90%;
  }
}
/*Celular Horizontal*/
@media only screen and (min-width: 480px) and (max-width: 932px) {
  .content {
    display: flex;
  }
  .content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 3px 3px 3px 1px solid black;
    width: 100%;
  }
  .content div li a img {
    width: 100%;
  }
}
/*Tablet Vertical*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .content div li a img {
    width: 80%;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 900px) and (max-width: 1180px) {
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 723px;
  }
  .content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
  }
  .content div li a img {
    width: 90%;
  }
}
/*Laptop  y desktop*/
@media only screen and (min-width: 1281px) {
  .content {
    display: flex;
    width: 100%;
  }
  .content div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 130px 130px 130px 130px;
    width: 100%;
    border: 1px solid black;
  }
  .content div li {
    display: flex;
    justify-content: center;
  }
  .content div li img {
    width: 105px;
    padding-left: 5px;
  }
}
/*Colores*/
.navbar-diego {
  display: flex;
  width: 100%;
  background-color: #0a0a5c;
  font-size: x-large;
  font-family: "Lato", sans-serif;
}
.navbar-diego a {
  color: whitesmoke;
  font-weight: bold;
}
.navbar-diego img {
  width: 70px;
}

.bodypartidos {
  background-color: #3883c2;
}

.titulo-partidos {
  display: flex;
  justify-content: center;
}

.container-partidos {
  display: flex;
  flex-direction: row;
}
.container-partidos ul {
  display: flex;
  border: 1px solid black;
  background-color: #386890;
  width: 33.3%;
}
.container-partidos ul img {
  width: 90px;
}
.container-partidos ul p {
  font-weight: bold;
  font-size: large;
}

#redes {
  display: flex;
  width: 600px;
  padding-top: 60px;
  justify-content: space-between;
}

#redes a {
  color: black;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  .titulo-partidos {
    display: flex;
    justify-content: center;
  }
  .container-partidos {
    display: flex;
    flex-direction: column;
  }
  .container-partidos ul {
    display: flex;
    border: 1px solid black;
    background-color: #386890;
    width: fit-content;
  }
  .container-partidos ul img {
    width: 100px;
  }
  .container-partidos ul p {
    font-weight: bold;
  }
  #redes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
/*Celular Horizontal*/
@media only screen and (min-width: 480px) and (max-width: 932px) {
  .container-partidos {
    display: flex;
    flex-direction: row;
  }
  .container-partidos ul {
    display: flex;
    border: 1px solid black;
    background-color: #386890;
    width: 33.3%;
  }
  .container-partidos ul img {
    width: 90%;
  }
  .container-partidos ul p {
    font-weight: bold;
    font-size: small;
  }
  .titulo-partidos {
    display: flex;
    justify-content: center;
  }
  #redes {
    display: flex;
    width: 600px;
    padding-top: 10px;
    justify-content: space-between;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-partidos {
    display: flex;
    flex-direction: row;
  }
  .container-partidos ul {
    display: flex;
    border: 1px solid black;
    background-color: #386890;
    width: 33.3%;
  }
  .container-partidos ul img {
    width: 105%;
  }
  .container-partidos ul p {
    font-weight: bold;
    font-size: 130%;
  }
  .titulo-partidos {
    display: flex;
    justify-content: center;
  }
  #redes {
    display: flex;
    width: 600px;
    padding-top: 10px;
    justify-content: space-between;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Tablet Vertical*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container-partidos {
    display: flex;
    flex-direction: column;
  }
  .container-partidos ul {
    display: flex;
    border: 1px solid black;
    background-color: #386890;
    justify-content: space-between;
    width: 100%;
  }
  .container-partidos ul img {
    width: 120px;
  }
  .container-partidos ul p {
    font-weight: bold;
    font-size: 150%;
    padding-top: 40px;
  }
  .titulo-partidos {
    display: flex;
    justify-content: center;
  }
}
/*Laptop  y desktop*/
@media only screen and (min-width: 1281px) {
  .titulo-partidos {
    display: flex;
    justify-content: center;
  }
  .container-partidos {
    display: flex;
    flex-direction: row;
  }
  .container-partidos ul {
    display: flex;
    border: 1px solid black;
    background-color: #386890;
    width: 33.3%;
  }
  .container-partidos ul img {
    width: 90px;
  }
  .container-partidos ul p {
    font-weight: bold;
    font-size: large;
  }
  #redes {
    display: flex;
    width: 600px;
    padding-top: 60px;
    justify-content: space-between;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Colores*/
.bodyposiciones {
  background-color: #3883c2;
}

.container-posiciones {
  display: flex;
  width: 100%;
  padding-top: 5px;
}
.container-posiciones div {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.container-posiciones div li {
  font-size: 20px;
  display: flex;
  justify-content: start;
  width: 100%;
}
.container-posiciones div .titulo {
  display: flex;
  width: auto;
  justify-content: center;
  font-size: 40px;
  font-family: "Lato", sans-serif;
}
.container-posiciones div .posiciones-oeste {
  background-color: #b00000;
  padding-left: 100px;
  padding-right: 100px;
  color: #d7d7d7;
  border: 2px solid black;
}
.container-posiciones div .posiciones-este {
  background-color: #2727b2;
  color: #d7d7d7;
  padding-left: 100px;
  padding-right: 100px;
  border: 2px solid black;
}

#redes {
  display: flex;
  width: 600px;
  padding-top: 10px;
  justify-content: space-between;
}

#redes a {
  color: black;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  .container-posiciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
  }
  .container-posiciones div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div li {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container-posiciones div .titulo {
    display: flex;
    width: auto;
    justify-content: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div .posiciones-oeste {
    width: 100%;
    background-color: #b00000;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  .container-posiciones div .posiciones-este {
    width: 100%;
    background-color: #2727b2;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  #redes {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Celular Horizontal*/
@media only screen and (min-width: 480px) and (max-width: 932px) {
  .container-posiciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
  }
  .container-posiciones div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div li {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container-posiciones div .titulo {
    display: flex;
    width: auto;
    justify-content: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div .posiciones-oeste {
    width: 100%;
    background-color: #b00000;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  .container-posiciones div .posiciones-este {
    width: 100%;
    background-color: #2727b2;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  #redes {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-posiciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
  }
  .container-posiciones div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div li {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container-posiciones div .titulo {
    display: flex;
    width: auto;
    justify-content: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div .posiciones-oeste {
    width: 100%;
    background-color: #b00000;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  .container-posiciones div .posiciones-este {
    width: 100%;
    background-color: #2727b2;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  #redes {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Tablet Vertical*/
@media only screen and (min-width: 750px) and (max-width: 899px) {
  .container-posiciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
  }
  .container-posiciones div {
    display: flex;
    width: 90%;
    padding-left: 10%;
    justify-content: center;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div li {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container-posiciones div .titulo {
    display: flex;
    width: auto;
    justify-content: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div .posiciones-oeste {
    width: 100%;
    background-color: #b00000;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  .container-posiciones div .posiciones-este {
    width: 100%;
    background-color: #2727b2;
    padding-left: 0px;
    padding-right: 0px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  #redes {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Laptop  y desktop*/
@media only screen and (min-width: 1281px) {
  .container-posiciones {
    display: flex;
    width: 100%;
    padding-top: 5px;
  }
  .container-posiciones div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div li {
    font-size: 20px;
    display: flex;
    justify-content: start;
    width: 100%;
  }
  .container-posiciones div .titulo {
    display: flex;
    width: auto;
    justify-content: center;
    font-size: 40px;
    font-family: "Lato", sans-serif;
  }
  .container-posiciones div .posiciones-oeste {
    background-color: #b00000;
    padding-left: 130px;
    padding-right: 130px;
    color: #d7d7d7;
    border: 2px solid black;
  }
  .container-posiciones div .posiciones-este {
    background-color: #2727b2;
    color: #d7d7d7;
    padding-left: 130px;
    padding-right: 130px;
    border: 2px solid black;
  }
  #redes {
    display: flex;
    width: 600px;
    padding-top: 10px;
    justify-content: space-between;
  }
  #redes a {
    color: black;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  }
}
/*Colores*/
.bodyposiciones {
  background-color: #3883c2;
}

.container-noticias ul {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 0px;
}
.container-noticias ul li {
  background-color: white;
  width: min-content;
  border: 5px solid #f6f6f6;
}
.container-noticias ul li a {
  text-decoration: none;
}
.container-noticias ul li a p {
  color: black;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  padding-top: 8px;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  .container-noticias {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .container-noticias ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-left: 0px;
  }
  .container-noticias ul li {
    width: min-content;
    justify-content: flex-start;
  }
  .container-noticias ul li a img {
    width: 350px;
  }
}
/*Celular Horizontal*/
@media only screen and (min-width: 480px) and (max-width: 932px) {
  .container-noticias ul {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 0px;
  }
  .container-noticias ul li {
    background-color: white;
    width: min-content;
    border: 5px solid #f6f6f6;
  }
  .container-noticias ul li a {
    text-decoration: none;
  }
  .container-noticias ul li a p {
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    padding-top: 8px;
  }
  .container-noticias ul li a img {
    width: 250px;
    height: 150px;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-noticias ul {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  .container-noticias ul li {
    background-color: white;
    width: 350px;
    border: 5px solid #f6f6f6;
  }
  .container-noticias ul li a {
    text-decoration: none;
    width: fit-content;
  }
  .container-noticias ul li a p {
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    padding-top: 8px;
    padding-left: 3px;
    width: 100%;
  }
  .container-noticias ul li a img {
    width: 100%;
    height: 70%;
  }
}
/*Tablet Vertical*/
@media only screen and (min-width: 750px) and (max-width: 899px) {
  .container-noticias {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .container-noticias ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-left: 0px;
  }
  .container-noticias ul li {
    width: min-content;
    justify-content: center;
  }
  .container-noticias ul li a img {
    width: 500px;
    height: 350px;
  }
}
.titulo-equipo {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 40px;
}
.titulo-equipo img {
  height: 43px;
  padding-right: 50px;
}
.titulo-equipo p {
  padding-right: 20px;
}

.container-jugadores ul {
  display: flex;
  width: auto;
  height: min-content;
  padding-top: 50px;
  padding-left: 10px;
}
.container-jugadores ul li {
  display: block;
  width: 30%;
}
.container-jugadores ul li p {
  display: flex;
  justify-content: center;
  width: 170px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
  width: 80%;
}
.container-jugadores ul img {
  width: 80%;
  background-color: #f5f2d0;
  border: 3px solid black;
}

.container-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container-info ul {
  display: flex;
  font-size: xx-large;
  font-family: "Lato", sans-serif;
  padding-left: 40px;
}
.container-info ul li {
  padding-right: 80px;
}
.container-info ul .redes-equipo {
  display: flex;
  width: 440px;
  justify-content: space-around;
  padding-top: 70px;
}

/*Celular Vertical*/
@media only screen and (max-width: 480px) {
  .titulo-equipo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    padding-top: 5px;
  }
  .titulo-equipo img {
    height: 43px;
    padding-left: 10px;
  }
  .container-jugadores ul {
    display: flex;
    width: 100%;
    height: min-content;
    padding-top: 50px;
    padding-left: 10px;
  }
  .container-jugadores ul li {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 0px;
  }
  .container-jugadores ul li p {
    display: flex;
    justify-content: center;
    width: 170px;
    font-family: "Lato", sans-serif;
    font-size: 70%;
    background-color: black;
    border: 2px solid black;
    color: whitesmoke;
    width: 90%;
  }
  .container-jugadores ul img {
    width: 90%;
    height: 70px;
    background-color: #f5f2d0;
    border: 3px solid black;
  }
  .container-info {
    display: flex;
    width: 100%;
  }
  .container-info ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
  }
  .container-info ul li {
    width: 350px;
  }
  .container-info ul .redes-equipo {
    display: flex;
    width: 350px;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px;
  }
}
/*Celular Horizontal*/
@media only screen and (min-width: 480px) and (max-width: 932px) {
  .container-info {
    display: flex;
    width: 100%;
  }
  .container-info ul {
    width: 100%;
    display: grid;
    grid-template-areas: "mapa video" "redes redes";
    flex-direction: column;
    font-size: xx-large;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
  }
  .container-info ul li {
    width: 350px;
  }
  .container-info ul .redes-equipo {
    display: flex;
    grid-area: redes;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px;
  }
}
/*Tablet Horizontal*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .container-info {
    display: flex;
    width: 100%;
  }
  .container-info ul {
    width: 100%;
    display: grid;
    grid-template-areas: "mapa video" "redes redes";
    flex-direction: column;
    font-size: xx-large;
    font-family: "Lato", sans-serif;
    padding-left: 20px;
  }
  .container-info ul li {
    width: 350px;
  }
  .container-info ul .redes-equipo {
    display: flex;
    grid-area: redes;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px;
  }
}
/*Color de fondo de cada equipo*/
.body-suns {
  background-color: #FA4B0A;
}

.body-celtics {
  background-color: #008348;
}

.body-lakers {
  background-color: #FDB927;
}

.body-bucks {
  background-color: #00471C;
  color: whitesmoke;
}

.body-clippers {
  background-color: #1D428A;
}

.body-warriors {
  background-color: #1D428A;
}

.body-sixers {
  background-color: #003DA6;
}

.body-kings {
  background-color: #4C128C;
}

.body-bulls {
  background-color: #CD1F43;
}

.body-thunder {
  background-color: #007DC3;
}

.body-knicks {
  background-color: #F48326;
}

.body-timberwolves {
  background-color: #0C233F;
  color: whitesmoke;
}

.body-nuggets {
  background-color: #0E2240;
  color: #AC7A2D;
}

.body-blazers {
  background-color: #C8102E;
}

.body-jazz {
  background-color: #fff21f;
}

.body-grizzlies {
  background-color: #0C2340;
  color: whitesmoke;
}

.body-pelicans {
  background-color: #0F1840;
  color: whitesmoke;
}

.body-mavericks {
  background-color: #00285E;
  color: whitesmoke;
}

.body-rockets {
  background-color: #F72F30;
}

.body-cavaliers {
  background-color: #72253D;
}

.body-hawks {
  background-color: #C8102E;
}

.body-heat {
  background-color: #99002E;
}

.body-hornets {
  background-color: #260F54;
  color: whitesmoke;
}

.body-magic {
  background-color: #0266AC;
}

.body-pacers {
  background-color: #FFB300;
}

.body-pistons {
  background-color: #0D2240;
  color: whitesmoke;
}

.body-raptors {
  background-color: #AC0010;
}

.body-wizards {
  background-color: #002B5C;
  color: whitesmoke;
}

.body-spurs {
  background-color: #C4CDD3;
}

.body-nets {
  background-color: #3C3C3C;
}

/*# sourceMappingURL=style.css.map */
